<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <link rel="icon" href="Image/Icon/WebIcon1.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="stylesheets/Search_CSS.css" />
    <script src="Script/jquery.js"></script>
</head>
<body>


<form method="post" action="/Search">
    <div class="searchbox">
        <img src="/Image/Index_Image/Searchbg.jpg">
        <ul class="searchul">
            <li><p class="searchtitle">搜索</p></li>

                <li><input type="text" id="content" class="searchinput" name="searchcontent" placeholder="输入想要搜索的内容"></li>
                <li><input type="submit" id="search" class=searchbutton value="搜索"/></li>

        </ul>
    </div>
</form>

</body>
</html>