<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="Image/Icon/WebIcon1.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="stylesheets/SupportUs_CSS.css" />
    <title>支持我们</title>
</head>
<body>
<div class="cartpagetitle"><a>支持我们</a></div>

<hr class="lineup">

<div class="picturebox">
    <div class="imagediv">
        <ul class="pictureul">
            <li class="pictureli">
                <img class="picture" src="Image/SupportUs_Image/Image1.jpg">
                <img class="picture" src="Image/SupportUs_Image/Image1.jpg">
            </li>
        </ul>
    </div>

    <div class="infodiv">
        <ul class="infoul">
            <li>
                <div class="join">加入我们！向我们提供反馈，或给出你宝贵的建议！</div>
                <div class="join">唯一反馈邮箱：</div>
                <br>
                <br>
                <br>
                <div class="mail">stars571855069@gmail.com</div>
            </li>
        </ul>
    </div>
</div>

<hr class="linedown">

</body>
</html>