<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="Image/Icon/WebIcon1.ico" type="image/x-icon"/>

    <link rel="stylesheet" href="stylesheets/UserPage_CSS.css" />
    <title>用户</title>
</head>
<body>


<body>
<div class="cartpagetitle"><a>用户列表</a></div>

<hr class="lineup">

<div class="typearea">
    {{#each user}}
        <form method="post" action="/UserPage">
        <div class="item">
            <input type="hidden" value="{{username}}" name="typename"/>
            <a><img src="{{userphotourl}}"></a>
            <div class="typename"><a>{{username}}</a></div>
            <div class="buttonarea"><input type="submit" name="check" class="checkbutton" value="查看主页"></div>
        </div>
        </form>
    {{/each}}
</div>
<hr class="linedown">
</body>

</body>
</html>